.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .mat-stepper-vertical {
    margin-top: 8px;
  }

  table{
    width: 500px;
  }

  body{
    background-color: #3F51BF;
  }


  

  
  